/* General styling */
.container {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.title {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.title span {
  color: #26ffcb;
}

/* Board styling */
.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin: 20px auto;
}

.boxes {
  width: 100px;
  height: 100px;
  background-color: #1f3540;
  border: 2px solid #0f1b21;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.boxes:hover {
  background-color: #063046;
}

.boxes img {
  width: 60px;
  height: 60px;
}

/* Winner Message */
.winner-text {
  font-size: 24px;
  color: #28a745;
  font-weight: bold;
  margin-top: 10px;
}

/* Reset Button */
.reset {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #1f3540;
  color: #26ffcb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.reset:hover {
  background-color: #063046;
}
